{% extends 'store/base.html' %}

<style>

</style>

{% block content %}
    <form action="{% url 'manage'%}" method="post" class="form-inline" align="center">
      <br>
      <br>
      <div class="fieldWrapper">
        <table align="center">
          <tbody>
            {% for field in form %}
              <tr>
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      <br>
      <br>
      <button type="submit" class="btn btn-success">Submit</button>
      <br>
      <br>
      <div class="d-grid gap-2 col-6 mx-auto">
        <a href="{% url 'admin:logout' %}">  
          <button type="button" class="btn btn-primary"> Logout </button>
        </a>
      </div>
    </form>
    




    {% if errors %}
    <div>
      {% for key, error in errors %}
      {% autoescape off %}
        {{ error }}
      {% endautoescape %}
      {% endfor %}
    </div>
    {% endif %}


{% endblock content %}
    